body {
  margin: 0;
  font-family: メイリオ;
}

a {
  text-decoration: none;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(../img/inamiya画像.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  font-family: メイリオ;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 60px;
  letter-spacing: 5px;
  color: black;
  font-weight: 200;
}

.top-wrapper h2 {
  opacity: 0.7;
  font-size: 40px;
  letter-spacing: 5px;
  color: black;
  font-weight: 200;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 14px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #ffcccc;
  opacity: 0.7;
  /*positionプロパティをfixedに、topを0に指定してください*/
  position: fixed;
  top: 0;
  
  /*z-indexを10に指定してください*/
  z-index: 10;
  
}

.header {
  text-align: center;
  font-size: 30px;
  font-family: メイリオ;
  padding-top: 5px;
}


.lesson-wrapper {
  height: 600px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 33%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon1 {
  background-image: url(../img/ママラボについて3.png);
  height: 300px;
  width: 300px;
  margin: 10px 20px 10px 40px;
  border: double;
  border-color: #c0c0c0;
}

.lesson-icon2 {
  background-image: url(../img/プロフィール2.png);
  height: 300px;
  width: 300px;
  margin: 10px 20px 10px 40px;
  border: double;
  border-color: #c0c0c0;
}

.lesson-icon3 {
  background-image: url(../img/会員規則2.png);
  height: 300px;
  width: 300px;
  margin: 10px 20px 10px 40px;
  border: double;
  border-color: #c0c0c0;
}


.txt-contents {
  width: 90%;
  display: inline-block;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 15px;
  color: #696969;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #ae9a65;
  cursor: pointer;
  box-shadow: 0px 7px #716246;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.item {
  text-align: center;
  font-family: メイリオ;
}
.items h3 {
  text-align: center;
  font-size: 30px;
  color: #696969;
  padding-bottom: 30px;
}
.item1 {
  border: solid;
  border-color: #d3d3d3;
  background-image: url(../img/ママラボランチ会.jpg); 
  height: 217px;
  width: 400px;
  margin: 20px;
  color: black;
  font-size: 10px;
}

.txt-contents {
  text-align: left;
  font-size: 20px;
}

footer {
  border-top: solid;
  border-color: #c0c0c0;
  height: 100px;
  padding: 30px;
  color: #a9a9a9;
  font-size: 15px;
}
.container1 {
  background-image: url(../img/ママラボロゴ.jpg);
  width: 200px;
  height: 62px;
}

